html {
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

header {
  text-align: center;
}

.container-input {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-input form {
  display: flex;
  align-items: flex-end;
}

.addButton {
  margin-left: 20px;
  height: 30px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;

}

.container-list {
  height: 50px;
  margin-right: 50px;
}

.container-list input {
  height: 35px;
  margin-right: 20px;
  font-size: 16px;
}

.container-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

input {
  width: 250px;
  text-align: center;
}

.container-task {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.task-one {
  margin-right: 50px;
  font-size: 16px;
  font-weight: bold;
}

.task-two {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}