html {
  width: 100vw;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(213, 229, 250);
}

header {
  text-align: center;
}

.container-input {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-input form {
  display: flex;
  align-items: flex-end;
}

.addButton {
  margin-left: 20px;
  height: 30px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 20px 0;
}

.container-button-item {
  color: rgb(220, 85, 85) !important;
  border: 2px solid rgb(220, 85, 85) !important;
  border-radius: 8px !important;
  font-family: 'Times New Roman', Times, serif !important;
  font-weight: bold !important;
}

.container-list {
  height: 50px;
  margin: 0 10px 10px 0;
  display: flex;
  text-align: center;
  justify-content: center;
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container-list input {
  height: 35px;
  margin-right: 20px;
  font-size: 16px;
}

.container-list input::placeholder {
  color: rgb(220, 85, 85);
}

.container-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 10px;

}

.container-checkbox {
  margin-right: 10px !important;
}

input {
  width: 250px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
}

.container-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.task-one {
  margin-right: 50px;
  font-size: 16px;
  font-weight: bold;
}

.task-two {
  margin-right: 40px;
  font-size: 16px;
  font-weight: bold;
}